USE [ado_db]
GO
/****** Object:  StoredProcedure [dbo].[Purchase_List]    Script Date: 7/7/2024 5:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   proc [dbo].[Purchase_List]
as
begin
	select Purchase_Id,SupplierName,Prod_Name,Count,per_Product_Cost,Date 
	from Purchase_tb pt
	inner join Product_tb pro on pro.ProductId=pt.ProductId
	inner join supplier_tb st on st.SupplierID=pt.SupplierId
end