USE [ado_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_SalesReport]    Script Date: 7/25/2024 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_SalesReport]
(
@From DateTime,
@To DateTime
)
as
begin


	select sm.SalesDate,sm.CustomerName,sd.Productname,sd.Quantity,sd.Price Per_price,sd.TotalPrice from  Sales_mast_tb sm
	inner join sales_detl_tb sd on sd.SalesId=sm.SalesId
	where sm.SalesDate between @From and @To

end
