body {
    font-family: Arial, sans-serif;
  /*  margin: 0;
    padding: 0;*/
/*    //display: flex;
*/    
  /*  justify-content: center;
    align-items: center;*/
    height: 100vh;
    background-color: #f0f2f5;
}

.container {
    background: white;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.container h2 {
    margin-top: 0;
}

.form-section, .list-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group.row {
    display: flex;
    justify-content: space-between;
}

.form-group.row .form-field {
    width: 48%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    .form-group button {
        background-color: #28a745;
        color: white;
        border: none;
        cursor: pointer;
    }

.form-group button:hover {
    background-color: #0056b3;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    color: #007bff;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0056b3;
}
