.card-body {
    position: relative;
    padding: 25px;
}
#TableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.star-student.table-striped tbody tr td, .star-student.table-striped tbody tr td a {
    color: #666;
}

table.table td h2 a {
    color: #333;
}

table.table td h2.table-avatar {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

a {
    color: #3d5ee1;
    text-decoration: none;
}

.card-table .card-body .table > thead > tr > th {
    border-top: 0;
}

.table thead tr th {
    font-weight: 600;
}

.table.table-center td, .table.table-center th {
    vertical-align: middle;
}

.card-table .table td, .card-table .table th {
    border-top: 1px solid #e2e5e8;
    padding: 1rem 0.75rem;
    white-space: nowrap;
}

.table .student-thread th {
    color: #000;
    background-color: #f8f9fa;
    border-color: #eff2f7;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        cursor: pointer;
        position: relative;
    }

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
}
